lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock
*.0
*.ns

pids
logs
results

#Visaul Studio Files
*.suo
obj


node_modules
bower_components

npm-debug.log
data
*.*~
settings.json
secrets.json
