<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SetGame</title>
    <meta name="viewport" content="width=780, user-scalable=no">
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/progress.css" />
</head>

<body>

    <div class="container" data-bind="with: setgame.viewModel">
        <%- partial('_header', {user: user}) %>
        <hr>

        <div class="jumbotron" data-bind="visible: setgame.viewModel.currentTab() === 'home' || setgame.viewModel.currentTab() === 'practice'">
            <%- partial('_home', {user: user}) %>
        </div>

        <div class="jumbotron hidden" data-bind="visible: setgame.viewModel.currentTab() === 'stats'">
            <%- partial('_stats') %>
        </div>

        <div class="jumbotron hidden" data-bind="visible: setgame.viewModel.currentTab() === 'leaderboard'">
            <%- partial('_leaderboard') %>
        </div>

        <hr>
    </div>


    <!-- Keep scripts at bottom to improve load times -->
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js"></script>

    <script type="text/javascript" src="js/pretty.js"></script>
    <script type="text/javascript" src="js/view-model.js"></script>
    <script type="text/javascript" src="js/leaderboard-vm.js"></script>

    <script type="text/javascript" src="js/set-card.js"></script>
    <script type="text/javascript" src="js/engine.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/seedrandom.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48446604-1', '76.84.45.141');
        ga('send', 'pageview');
    </script>

</body>
</html>

