* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

html {
    overflow-y: scroll;
}

h1, h2, h3 {
    cursor: default;
}

.table {
    margin: 0 auto;
}

    .table th, .table td {
        text-align: center !important;
    }

.ninja-col {
    color: transparent;
}

tr:hover .ninja-col {
    color: initial;
}

#found-label {
    font-size: 20px;
}

.hidden {
    display: none;
}

#board-container {
    display: inline-block;
}

    #board-container .card {
        width: 92px;
        height: 65px;
        margin: 4px 10px;
    }

    #board-container .selected {
        border: 1px solid #08C;
    }


.found-card {
    width: 46px;
    height: 32px;
}

#spinner {
    margin-bottom: 34px;
}

.dropdown-h3 {
    width: 110%;
    text-align: center;
}

ul h3:hover {
    background-color: #EEE;
    border-radius: 5px;
}

#setsfound {
    display: table;
    margin-top: -30px;
}


#score h3 {
    display: inline;
    -webkit-user-select:text;
    user-select: text;
}

#score a {
    margin-top: 20px;
    font-size: 20px;
}

#login {
    margin-top: 20px;
}

    #login span {
        margin: 2px;
    }

#multi-player {
  margin-top: -60px;
}

  #multi-player ul {
    text-align: left;
  }

  #multi-player h1 {
    font-size: 42px;
  }

  #multi-player button {
    margin-bottom: -120px;
  }

.nav > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
}

.pulls-right {
    float: right;
}

.pulls-left {
    float: left;
}

hr {
    clear: both;
}

.btn-large {
    font-size: 20px;
    margin-top: 20px;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    min-width: 470px;
}


.jumbotron {
    margin: 60px 0;
    text-align: center;
}

    .jumbotron h1 {
        font-size: 72px;
        font-weight: 100;
        line-height: 1;
        letter-spacing: -3px;
    }

    .jumbotron a {
        padding: 14px 24px;
    }

.lobby-user.ng-enter {
  opacity: 0;
  left: -50px;
  height: 0px;
}

.lobby-user.ng-leave {
  opacity: 1;
  left: 0px;
  height: 20px;
}

.lobby-user.ng-enter,
.lobby-user.ng-leave {
    -webkit-transition: 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    transition: 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
    position: relative;
    display: block;
}

.lobby-user.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0;
    height: 20px;
}

.lobby-user.ng-leave.ng-leave-active {
    opacity: 0;
    left: -50px;
    height: 0px;
}
