<!DOCTYPE html>
<html>
	<head>		
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" text="text/css" href="css/site.css"/>
	</head>

	<body>

		<div class="container">

			<div class="masthead">
				<ul class="nav nav-pills pulls-right">
					<li class="active"><a>Home</a></li>
					<li><a>Practice</a></li>
					<li><a>Stats</a></li>
					<li><a>Leaderboard</a></li>
				</ul>
				<ul class="nav nav-pills">					
				</ul>
			</div>

			<hr>

			<div class="jumbotron">
				<div>
					<h1>Set Game</h1>
					<a class="btn btn-large btn-success">Play meow</a>
				</div>
			</div>

			<hr>

		</div>


		<!-- Keep scripts at bottom to improve load times -->
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

   		<script type="text/javascript" src="js/pretty.js"></script>
    	<script type="text/javascript" src="js/view-model.js"></script>
    	<script type="text/javascript" src="js/leaderboard-vm.js"></script>

    	<script type="text/javascript" src="js/set-card.js"></script>
    	<script type="text/javascript" src="js/engine.js"></script>
    	<script type="text/javascript" src="js/game.js"></script>
    	<script type="text/javascript" src="js/seedrandom.js"></script>    	

	</body>
</html>