<!DOCTYPE html>
<html>
	<head>		
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" text="text/css" href="css/site.css"/>
        <link rel="stylesheet" text="text/css" href="css/card-sprites.css"/>
	</head>

	<body>

		<div class="container" data-bind="with: setgame.viewModel">

			<div class="masthead">
				<ul class="nav nav-pills pulls-right">
					<li data-bind="attr: { class: currentTab() === 'home' ? 'active' : '' }"><a data-bind="click: function() { currentTab('home');}" >Home</a></li>
					<li data-bind="attr: { class: currentTab() === 'practice' ? 'active' : '' }"><a data-bind="click: function() { currentTab('practice');}" >Practice</a></li>
					<li data-bind="attr: { class: currentTab() === 'stats' ? 'active' : '' }"><a data-bind="click: function() { currentTab('stats');}" >Stats</a></li>					
                    <li data-bind="attr: { class: currentTab() === 'leaderboard' ? 'active' : '' }"><a data-bind="click: function() { currentTab('leaderboard');}" >Leaderboard</a></li>
				</ul>
				<ul class="nav nav-pills">					
				</ul>
			</div>

			<hr>

			<div class="jumbotron" data-bind="visible: setgame.viewModel.currentTab() === 'home' || 'practice'">
				<%= erb :_home %>
			</div>
            
            <div class="jumbotron" data-bind="visible: setgame.viewModel.currentTab() === 'stats'">
                <%= erb :_stats %>
            </div>
            
            <div class="jumbotron" data-bind="visible: setgame.viewModel.currentTab() === 'leaderboard'">
                <%= erb :_leaderboard %>
			</div>

			<hr>

		</div>


		<!-- Keep scripts at bottom to improve load times -->
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

   		<script type="text/javascript" src="js/pretty.js"></script>
    	<script type="text/javascript" src="js/view-model.js"></script>
    	<script type="text/javascript" src="js/leaderboard-vm.js"></script>

    	<script type="text/javascript" src="js/set-card.js"></script>
    	<script type="text/javascript" src="js/engine.js"></script>
    	<script type="text/javascript" src="js/game.js"></script>
    	<script type="text/javascript" src="js/seedrandom.js"></script>    	

	</body>
</html>