.card-1111{ background-position: 0 0; width: 95px; height: 62px; } 
.card-1112{ background-position: 0 -112px; width: 95px; height: 62px; } 
.card-1113{ background-position: 0 -224px; width: 95px; height: 62px; } 
.card-1121{ background-position: 0 -336px; width: 95px; height: 62px; } 
.card-1122{ background-position: 0 -448px; width: 95px; height: 62px; } 
.card-1123{ background-position: 0 -560px; width: 95px; height: 62px; } 
.card-1131{ background-position: 0 -672px; width: 95px; height: 62px; } 
.card-1132{ background-position: 0 -784px; width: 95px; height: 62px; } 
.card-1133{ background-position: 0 -896px; width: 95px; height: 62px; } 
.card-1211{ background-position: 0 -1008px; width: 95px; height: 62px; } 
.card-1212{ background-position: 0 -1120px; width: 95px; height: 62px; } 
.card-1213{ background-position: 0 -1232px; width: 95px; height: 62px; } 
.card-1221{ background-position: 0 -1344px; width: 95px; height: 62px; } 
.card-1222{ background-position: 0 -1456px; width: 95px; height: 62px; } 
.card-1223{ background-position: 0 -1568px; width: 95px; height: 62px; } 
.card-1231{ background-position: 0 -1680px; width: 95px; height: 62px; } 
.card-1232{ background-position: 0 -1792px; width: 95px; height: 62px; } 
.card-1233{ background-position: 0 -1904px; width: 95px; height: 62px; } 
.card-1311{ background-position: -145px 0; width: 95px; height: 62px; } 
.card-1312{ background-position: -145px -112px; width: 95px; height: 62px; } 
.card-1313{ background-position: -145px -224px; width: 95px; height: 62px; } 
.card-1321{ background-position: -145px -336px; width: 95px; height: 62px; } 
.card-1322{ background-position: -145px -448px; width: 95px; height: 62px; } 
.card-1323{ background-position: -145px -560px; width: 95px; height: 62px; } 
.card-1331{ background-position: -145px -672px; width: 95px; height: 62px; } 
.card-1332{ background-position: -145px -784px; width: 95px; height: 62px; } 
.card-1333{ background-position: -145px -896px; width: 95px; height: 62px; } 
.card-2111{ background-position: -145px -1008px; width: 95px; height: 62px; } 
.card-2112{ background-position: -145px -1120px; width: 95px; height: 62px; } 
.card-2113{ background-position: -145px -1232px; width: 95px; height: 62px; } 
.card-2121{ background-position: -145px -1344px; width: 95px; height: 62px; } 
.card-2122{ background-position: -145px -1456px; width: 95px; height: 62px; } 
.card-2123{ background-position: -145px -1568px; width: 95px; height: 62px; } 
.card-2131{ background-position: -145px -1680px; width: 95px; height: 62px; } 
.card-2132{ background-position: -145px -1792px; width: 95px; height: 62px; } 
.card-2133{ background-position: -145px -1904px; width: 95px; height: 62px; } 
.card-2211{ background-position: -290px 0; width: 95px; height: 62px; } 
.card-2212{ background-position: -290px -112px; width: 95px; height: 62px; } 
.card-2213{ background-position: -290px -224px; width: 95px; height: 62px; } 
.card-2221{ background-position: -290px -336px; width: 95px; height: 62px; } 
.card-2222{ background-position: -290px -448px; width: 95px; height: 62px; } 
.card-2223{ background-position: -290px -560px; width: 95px; height: 62px; } 
.card-2231{ background-position: -290px -672px; width: 95px; height: 62px; } 
.card-2232{ background-position: -290px -784px; width: 95px; height: 62px; } 
.card-2233{ background-position: -290px -896px; width: 95px; height: 62px; } 
.card-2311{ background-position: -290px -1008px; width: 95px; height: 62px; } 
.card-2312{ background-position: -290px -1120px; width: 95px; height: 62px; } 
.card-2313{ background-position: -290px -1232px; width: 95px; height: 62px; } 
.card-2321{ background-position: -290px -1344px; width: 95px; height: 62px; } 
.card-2322{ background-position: -290px -1456px; width: 95px; height: 62px; } 
.card-2323{ background-position: -290px -1568px; width: 95px; height: 62px; } 
.card-2331{ background-position: -290px -1680px; width: 95px; height: 62px; } 
.card-2332{ background-position: -290px -1792px; width: 95px; height: 62px; } 
.card-2333{ background-position: -290px -1904px; width: 95px; height: 62px; } 
.card-3111{ background-position: -435px 0; width: 95px; height: 62px; } 
.card-3112{ background-position: -435px -112px; width: 95px; height: 62px; } 
.card-3113{ background-position: -435px -224px; width: 95px; height: 62px; } 
.card-3121{ background-position: -435px -336px; width: 95px; height: 62px; } 
.card-3122{ background-position: -435px -448px; width: 95px; height: 62px; } 
.card-3123{ background-position: -435px -560px; width: 95px; height: 62px; } 
.card-3131{ background-position: -435px -672px; width: 95px; height: 62px; } 
.card-3132{ background-position: -435px -784px; width: 95px; height: 62px; } 
.card-3133{ background-position: -435px -896px; width: 95px; height: 62px; } 
.card-3211{ background-position: -435px -1008px; width: 95px; height: 62px; } 
.card-3212{ background-position: -435px -1120px; width: 95px; height: 62px; } 
.card-3213{ background-position: -435px -1232px; width: 95px; height: 62px; } 
.card-3221{ background-position: -435px -1344px; width: 95px; height: 62px; } 
.card-3222{ background-position: -435px -1456px; width: 95px; height: 62px; } 
.card-3223{ background-position: -435px -1568px; width: 95px; height: 62px; } 
.card-3231{ background-position: -435px -1680px; width: 95px; height: 62px; } 
.card-3232{ background-position: -435px -1792px; width: 95px; height: 62px; } 
.card-3233{ background-position: -435px -1904px; width: 95px; height: 62px; } 
.card-3311{ background-position: -580px 0; width: 95px; height: 62px; } 
.card-3312{ background-position: -580px -112px; width: 95px; height: 62px; } 
.card-3313{ background-position: -580px -224px; width: 95px; height: 62px; } 
.card-3321{ background-position: -580px -336px; width: 95px; height: 62px; } 
.card-3322{ background-position: -580px -448px; width: 95px; height: 62px; } 
.card-3323{ background-position: -580px -560px; width: 95px; height: 62px; } 
.card-3331{ background-position: -580px -672px; width: 95px; height: 62px; } 
.card-3332{ background-position: -580px -784px; width: 95px; height: 62px; } 
.card-3333{ background-position: -580px -896px; width: 95px; height: 62px; } 
