<div id="home">

  <div ng-hide="isStarted">
    <h1 ng-hide="isMultiPlayer">Set Game</h1>

    <button type="button" class="btn btn-large btn-success" ng-class="{'btn-inverse': isPractice}" ng-click="start()" ng-hide="isMultiPlayer">
      {{ isPractice ? 'Practice meow' : isMultiPlayer ? 'Start' : 'Play meow'}}
    </button>

    <div id="login" ng-show="showLogins">
      <span class="btn btn-inverse" ng-repeat="auth in ['Twitter', 'Facebook', 'Google']" ng-bind="auth" ng-click="login(auth)" </span>
    </div>
  </div>

  <div id="multi-player" ng-show="isMultiPlayer">
      <ul class="unstyled">
        <li>
          <h1>Lobby</h1>
        </li>
        <li class="lobby-user" ng-repeat="user in lobbyUsers">
          <span class="icomoon-checkmark" ng-class="{'user-ready' : user.ready}"></span>
          {{user.username}}</li>
      </ul>
    <button type="button" class="btn btn-large btn-success" ng-click="startMulti()" ng-bind="isStartPressed ? 'Ready' : 'Start'">Start</button>
  </div>

  <div ng-show="isStarted">
    <div id="board-container">
      <div class="row show-grid" ng-repeat="row in board">
        <img ng-repeat="card in row" class="span3 card" ng-src="img/cards/{{toImg(card)}}" ng-class="{selected: card.isSelected}" ng-click="toggleSelection(card)" draggable="false"></img>
      </div>
    </div>

    <hr>

    <div class="row-fluid marketing">
      <div class="masthead" id="setsfound">
        <h3 id="found-label" class="muted">Found Sets</h3>
      </div>

      <div class="span3"></div>
      <div class="span2">
        <div class="row" ng-repeat="set1 in foundSets.slice(0,3)">
          <div class="span4" ng-repeat="card1 in set1">
            <img class="found-card" ng-src="img/cards/{{toImg(card1)}}" draggable="false" />
          </div>
        </div>
      </div>
      <div class="span1"></div>
      <div class="span2">
        <div class="row" ng-repeat="set2 in foundSets.slice(3,6)">
          <div class="span4" ng-repeat="card2 in set2">
            <img class="found-card" ng-src="img/cards/{{toImg(card2)}}" draggable="false" />
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
