<div id="home" class="jumbotron">

  <div ng-hide="isStarted">
    <h1>Set Game</h1>

    <button type="button" class="btn btn-large btn-success" ng-class="{'btn-inverse': isPractice}" ng-click="start()">
      {{ isPractice ? 'Practice' : 'Play'}} meow
    </button>
  </div>


  <div id="board-container" ng-show="isStarted">

    <div class="row show-grid" ng-repeat="row in board">
      <img ng-repeat="card in row" class="span3 card" ng-src="img/cards/{{toImg(card)}}" ng-class="{selected: card.isSelected}" ng-click="toggleSelection(card)"></img>
    </div>


    <!--<div data-bind="foreach: board">
      <div class="row show-grid" data-bind="foreach: $data">
<img class="span3 card"
 data-bind="attr:{src: 'img/cards/' + fileName()},
  click: toggleSelection, css: { selected: isSelected }" alt="Oops!" />
      </div>
    </div>
  </div>
  <hr>
  <div class="row-fluid marketing">
    <div class="masthead" id="setsfound">
      <h3 id="found-label" class="muted">Found Sets</h3>
    </div>
    <div class="span3"></div>
    <div class="span2" data-bind="foreach: foundSets.slice(0, 3)">
      <div class="row" data-bind="foreach: $data">
        <div class="span4">
          <img class="found-card" data-bind="attr:{src: 'img/cards/' + $data.fileName()}" />
        </div>
      </div>
    </div>
    <div class="span1"></div>
    <div class="span2" data-bind="foreach: foundSets.slice(3, 6)">
      <div class="row" data-bind="foreach: $data">
        <div class="span4">
          <img class="found-card" data-bind="attr:{src: 'img/cards/' + $data.fileName()}" />
        </div>
      </div>
    </div>
  </div>
-->
  <div class="found-sets">
    found sets placeholder
  </div>



</div>
