<div id="home" class="jumbotron">

  <div ng-hide="isStarted">
    <h1>Set Game</h1>

    <button type="button" class="btn btn-large btn-success" ng-class="{'btn-inverse': isPractice}" ng-click="start()">
      {{ isPractice ? 'Practice' : 'Play'}} meow
    </button>
  </div>


  <div id="board-container" ng-show="isStarted">

    <div class="row show-grid" ng-repeat="row in board">
      <img ng-repeat="card in row" class="span3 card" ng-src="img/cards/{{toImg(card)}}" ng-class="{selected: card.isSelected}" ng-click="toggleSelection(card)"></img>
    </div>



    <hr>
    <div class="row-fluid marketing">
      <div class="masthead" id="setsfound">
        <h3 id="found-label" class="muted">Found Sets</h3>
      </div>

      <div class="span3"></div>
      <div class="span2">
        <div class="row" ng-repeat="set1 in foundSets.slice(0,3)">
          <div class="span4" ng-repeat="card1 in set1">
            <img class="found-card" ng-src="img/cards/{{toImg(card1)}}" />
          </div>
        </div>
      </div>
      <div class="span1"></div>
      <div class="span2">
        <div class="row" ng-repeat="set2 in foundSets.slice(3,6)">
          <div class="span4" ng-repeat="card2 in set2">
            <img class="found-card" ng-src="img/cards/{{toImg(card2)}}" />
          </div>
        </div>
      </div>
    </div>


  </div>
  <!--
  <div class="row-fluid marketing">
    <div class="masthead" id="setsfound">
      <h3 id="found-label" class="muted">Found Sets</h3>
    </div>
    <div class="span3"></div>
    <div class="span2" data-bind="foreach: foundSets.slice(0, 3)">
      <div class="row" data-bind="foreach: $data">
        <div class="span4">
          <img class="found-card" data-bind="attr:{src: 'img/cards/' + $data.fileName()}" />
        </div>
      </div>
    </div>
    <div class="span1"></div>
    <div class="span2" data-bind="foreach: foundSets.slice(3, 6)">
      <div class="row" data-bind="foreach: $data">
        <div class="span4">
          <img class="found-card" data-bind="attr:{src: 'img/cards/' + $data.fileName()}" />
        </div>
      </div>
    </div>
  </div>
-->



</div>
