<div id="leaderboard-container" class="jumbotron">

  <tabset justified="true">
    <tab heading="Today's Puzzle">
      <table class="table table-striped">
        <thead>
          <tr>
            <td></td>
            <td><h5>User</h5></td>
            <td><h5>Time</h5></td>
            <td><h5>Date</h5></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="score in data.Today">
            <td ng-bind="$index + 1" class="ninja-col"></td>
            <td ng-bind="score.UserName"></td>
            <td ng-bind="score.Score|makePretty:'score'"></td>
            <td ng-bind="score.DatePlayed|makePretty:'date'"></td>
          </tr>
        </tbody>
      </table>
    </tab>


    <tab heading="Fastest Time">
      <table class="table table-striped">
        <thead>
          <tr>
            <td></td>
            <td><h5>User</h5></td>
            <td><h5>Time</h5></td>
            <td><h5>Date</h5></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="score in data.Fastest">
            <td ng-bind="$index + 1" class="ninja-col"></td>
            <td ng-bind="score.UserName"></td>
            <td ng-bind="score.Score|makePretty:'score'"></td>
            <td ng-bind="score.DatePlayed|makePretty:'date'"></td>
          </tr>
        </tbody>
      </table>
    </tab>

    <tab heading="Average Time">
      <table class="table table-striped">
        <thead>
          <tr>
            <td></td>
            <td><h5>User</h5></td>
            <td><h5>Average Time</h5></td>
            <td><h5>Fastest Time</h5></td>
            <td><h5>Games Played</h5></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="score in data.Average">
            <td ng-bind="$index + 1" class="ninja-col"></td>
            <td ng-bind="score.UserName"></td>
            <td ng-bind="score.Fastest|makePretty:'score'"></td>
            <td ng-bind="score.Average|makePretty:'score'"></td>
            <td ng-bind="score.GamesPlayed"></td>
          </tr>
        </tbody>
      </table>
    </tab>

    <tab heading="Last 30 Days">
      <table class="table table-striped">
        <thead>
          <tr>
            <td></td>
            <td><h5>User</h5></td>
            <td><h5>Average Time</h5></td>
            <td><h5>Games Played</h5></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="score in data.MonthAverage">
            <td ng-bind="$index + 1" class="ninja-col"></td>
            <td ng-bind="score.UserName"></td>
            <td ng-bind="score.Average|makePretty:'score'"></td>
            <td ng-bind="score.GamesPlayed"></td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>




</div>
