<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello, World!</h1>
    <a href="/auth/twitter">Sign in with Twitter</a>
  </body>
</html>