<!DOCTYPE html>
<html>
	<head>		
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" text="text/css" href="css/site.css"/>
	</head>

	<body>
	
		<div class="container" data-bind="with: setgame.viewModel">
        
            <%- partial('_header') %>
            
			<hr>

			<div class="jumbotron" data-bind="visible: setgame.viewModel.currentTab() === 'home' || setgame.viewModel.currentTab() === 'practice'">
				<%- partial('_home') %>
			</div>
            
            <div class="jumbotron hidden" data-bind="visible: setgame.viewModel.currentTab() === 'stats'">
                <%- partial('_stats') %>
            </div>
            
            <div class="jumbotron hidden" data-bind="visible: setgame.viewModel.currentTab() === 'leaderboard'">
                <%- partial('_leaderboard') %>
			</div>

			<hr>
		</div>


		<!-- Keep scripts at bottom to improve load times -->
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

   		<script type="text/javascript" src="js/pretty.js"></script>
    	<script type="text/javascript" src="js/view-model.js"></script>
    	<script type="text/javascript" src="js/leaderboard-vm.js"></script>

    	<script type="text/javascript" src="js/set-card.js"></script>
    	<script type="text/javascript" src="js/engine.js"></script>
    	<script type="text/javascript" src="js/game.js"></script>
    	<script type="text/javascript" src="js/seedrandom.js"></script>    	

	</body>
</html>