<div data-bind="if: gameState() === 'stopped'">
    <h1>Set Game</h1>
    <a class="btn btn-large btn-success" 
    data-bind="text: currentTab() === 'practice' ? 'Practice meow' : 'Play meow',
                css: currentTab() === 'practice' ? 'btn-inverse' : 'btn-success'" 
    onclick="setgame.game.startDailyGame();">Play meow</a>
    <div id="login" class="hidden" data-bind="visible: setgame.viewModel.login() && setgame.viewModel.currentTab() !== 'practice'">
        <span class="btn btn-inverse">Twitter</span>
        <span class="btn btn-inverse">Google</span>
        <span class="btn btn-inverse">Facebook</span>
    </div>
</div>
<div class="hidden" data-bind="visible: gameState() === 'loading'">
    <h1>Set Game</h1>
    <img id="spinner" src="img/ajax-loader.gif" />
</div>
<div class="hidden" data-bind="visible: gameState() === 'started'">
   <div id="board-container">
       <div data-bind="foreach: board">
           <div class="row show-grid" data-bind="foreach: $data">
               <img class="span3 card" data-bind="attr:{src: 'img/cards/' + fileName()}, click: toggleSelection, css: { selected: isSelected }" />
           </div>
       </div>
   </div>
    <hr>
   <div class="row-fluid marketing">
       <div class="masthead" id="setsfound">
           <h3 id="found-label" class="muted">Found Sets</h3>
       </div>
       <div class="span3"></div>
       <div class="span2" data-bind="foreach: foundSets.slice(0, 3)">
           <div class="row" data-bind="foreach: $data">
               <div class="span4">
                   <img class="found-card" data-bind="attr:{src: 'img/cards/' + $data.fileName()}" />
               </div>
           </div>
       </div>
       <div class="span1"></div>
       <div class="span2" data-bind="foreach: foundSets.slice(3, 6)">
           <div class="row" data-bind="foreach: $data">
               <div class="span4">
                   <img class="found-card" data-bind="attr:{src: 'img/cards/' + $data.fileName()}" />
               </div>
           </div>
       </div>
   </div>
</div>


